<%- include("../layouts/adminLayout/admin-header") %>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order detail</h2>
                <p>details for Order ID: <%=productDetails[0].orderId %>
                </p>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                        <span>
                            <i class="material-icons md-calendar_today"></i> <b>
                                <%= productDetails[0].formattedDate %>
                            </b>
                        </span> <br>
                        <small class="text-muted">Order ID: <%= productDetails[0].orderId %></small>
                    </div>

                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-dark material-icons md-person"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Customer</h6>
                                <p class="mb-1">
                                    <%=user.name%> <br>
                                        <p class="mb-1">
                                            <%= user.email %>
                                        </p>
                                        <%= user.mobile %>
                                </p>
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-dark material-icons md-local_shipping"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Order info</h6>
                                <p class="mb-1">
                                    Shipping: Fargo express <br> Pay method: <%= productDetails[0].paymentMethod%>
                                </p>
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-dark material-icons md-place"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Deliver to</h6>
                                <p class="mb-1">
                                    City: <%= productDetails[0].address.city %> <br>
                                        <%= productDetails[0].address.house %>,<%= productDetails[0].address.state %>
                                                <br>
                                                <%= productDetails[0].address.pincode %>
                                </p>
                            </div>
                        </article>
                    </div> <!-- col// -->
                </div> <!-- row // -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="40%" class="text-center">Product</th>
                                        <th width="10%" class="text-center">Unit Price</th>
                                        <th width="10%" class="text-center">Quantity</th>
                                        <th width="10%" class="text-center ">Status</th>
                                        <th width="30%" class="text-center">Change Status</th>
                                        <th width="30%" class="text-center">Update</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <% productDetails.forEach(element=> { %>
                                        <tr>
                                            <td class="text-center">
                                                <a class="itemside" href="#">
                                                    <div>
                                                        <img src="/<%= element.orderedProduct.image[0] %>" width="40"
                                                            height="40" class="img-xs" alt="Item">
                                                    </div>
                                                    <div class="info">
                                                        <%= element.orderedProduct.productName %>
                                                    </div>
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <%= element.products.formattedProductPrice %>
                                            </td>
                                            <td class="text-center">
                                                <%= element.products.quantity %>
                                            </td>

                                            <td width="7%">
                                                <% if (element.products.status=='pending' ) { %>
                                                    <span id="status<%= element.products._id %>"
                                                        class="badge rounded-pill alert-warning">
                                                        <%= element.products.status %>
                                                    </span>
                                                    <% } else if (element.products.status=='processing' ) {%>
                                                        <span id="status<%= element.products._id %>"
                                                            class="badge rounded-pill alert-secondary">
                                                            <%= element.products.status %>
                                                        </span>
                                                        <% } else if (element.products.status=='confirmed' ) {%>
                                                            <span id="status<%= element.products._id %>"
                                                                class="badge rounded-pill alert-dark">
                                                                <%= element.products.status %>
                                                            </span>
                                                            <% } else if (element.products.status=='shipped' ) {%>
                                                                <span id="status<%= element.products._id %>"
                                                                    class="badge rounded-pill alert-info">
                                                                    <%= element.products.status %>
                                                                </span>
                                                                <% } else if (element.products.status=='outForDelivery'
                                                                    ) {%>
                                                                    <span id="status<%= element.products._id %>"
                                                                        class="badge rounded-pill alert-warning">
                                                                        <%= element.products.status %>
                                                                    </span>
                                                                    <% } else if (element.products.status=='delivered' )
                                                                        {%>
                                                                        <span id="status<%= element.products._id %>"
                                                                            class="badge rounded-pill alert-success">
                                                                            <%= element.products.status %>
                                                                        </span>
                                                                        <% } else if
                                                                            (element.products.status=='cancelled' ) {%>
                                                                            <span id="status<%= element.products._id %>"
                                                                                class="badge rounded-pill alert-danger">
                                                                                <%= element.products.status %>
                                                                            </span>
                                                                            <% } else {%>
                                                                                <span
                                                                                    id="status<%= element.products._id %>"
                                                                                    class="badge rounded-pill alert-danger">
                                                                                    <%= element.products.status %>
                                                                                </span>
                                                                                <% } %>
                                            </td>
                                            <td class="text-center">
                                                <% if (element.products.status=="cancelled" ) { %>
                                                    <span class="badge rounded-pill alert-danger text-center">
                                                        cancelled by the user
                                                    </span>
                                                    <% } else if (element.products.status=="returned" ) { %>
                                                        <span class="badge rounded-pill alert-success text-center">
                                                            returned
                                                        </span>
                                                        <% } else { %>
                                                            <div class="text-center">
                                                                <select class="form-select d-inline-block"
                                                                    name="status" id="select<%= element.products._id %>">                                                        
                                                                    <option value="pending">Pending</option>
                                                                    <option value="shipped">Shipped</option>
                                                                    <option value="processing">Processing</option>
                                                                    <option value="delivered">Delivered</option>
                                                                    <option value="returned">Returned</option>
                                                                    <option value="cancelled">Cancelled</option>
                                                                    <option value="outForDelivery">Out For Delivery
                                                                    </option>
                                                                    <option value="return pending">Return Pending
                                                                    </option>

                                                                </select>

                                                            </div>
                                                            <% } %>

                                            </td>
                                            <td>
                                                <a class="btn btn-primary" id="changeStatus"
                                                    onclick="changeStatus('<%= productDetails[0]._id %>','<%= element.products._id%>')">Save</a>
                                            </td>
                                        </tr>
                                        <% }) %>
                                            <td colspan="4">
                                                <article class="float-end">
                                                    <dl class="dlist">
                                                        <dt>Grand total:</dt>
                                                        <dd> <b class="h5">
                                                                <%= productDetails[0].formattedTotal %>
                                                            </b> </dd>
                                                    </dl>

                                                </article>
                                            </td>
                                            </tr>
                                </tbody>
                            </table>
                        </div> <!-- table-responsive// -->
                    </div> <!-- col// -->
                    <div class="col-lg-1"></div>
                    <!-- <div class="col-lg-4">
                            <div class="box shadow-sm bg-light">
                                <h6 class="mb-15">Payment info</h6>
                                <p>
                                    <img src="/admin/imgs/card-brands/2.png" class="border" height="20"> Master Card **** **** 4768 <br>
                                    Business name: Grand Market LLC <br>
                                    Phone: +1 (800) 555-154-52
                                </p>
                            </div>
                            <div class="h-25 pt-4">
                                <div class="mb-3">
                                    <label>Notes</label>
                                    <textarea class="form-control" name="notes" id="notes" placeholder="Type some note"></textarea>
                                </div>
                                <button class="btn btn-primary">Save note</button>
                            </div>
                        </div> col// -->
                </div>
            </div>
        </div>
    </section>

    <script>
        function changeStatus(orderId, productId) {
            var status = document.getElementById("select"+productId).value;
            console.log(status, orderId, productId);
            $.ajax({
                url: `/admin/orderStatusChangeForEachProduct/${orderId}/${productId}`,
                method: "PATCH",
                data: { status: status },
                success: (response) => {
                    if (response.status) {
                        Toastify({
                            text: "Order status have changed!!",
                            duration: 3000, // Customize duration as needed
                            gravity: "top", // Choose placement (top, top-left, top-right, bottom, etc.)
                            position: "center", // Align toast (center, left, right)
                            stopOnFocus: true,
                            style: {
                                background: "green", // Green background
                            },
                        }).showToast();
                        setTimeout(() => {
                            location.reload();
                        }, 1000);
                    }
                }
            });
        }
    </script>
    <%- include("../layouts/adminLayout/admin-footer") %>