<%- include("../layouts/userLayout/userHomeHeader") %>

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Wishlist
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <% if (wishListItems.length<=0) { %>
                                <div class="mb-150">
                                    <h1 class="text-dark">No items in wishlist</h1>
                                </div>
                                

                                <% } else { %>
                                    <table class="table shopping-summery text-center mb-100">
                                        <thead>
                                            <tr class="main-heading">
                                                <th scope="col" colspan="2">Product</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Stock Status</th>
                                                <th scope="col">Action</th>
                                                <th scope="col">Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% wishListItems.forEach(element=> { %>
                                                <tr>
                                                    <td class="image product-thumbnail"><img
                                                            src="<%= element.product.image[0] %>" alt="#"></td>
                                                    <td class="product-des product-name">
                                                        <h5 class="product-name"><a href="shop-product-right.html">
                                                                <%= element.product.productName %>
                                                            </a></h5>

                                                    </td>
                                                    <td class="price" data-title="Price"><span>₹<%=
                                                                element.product.offerPrice %></span></td>
                                                    <% if (element.product.totalQuantity>0) { %>
                                                        <td class="text-center" data-title="Stock">
                                                            <span class="text-success font-weight-bold">In Stock</span>
                                                        </td>
                                                        <% } else { %>
                                                            <td class="text-center" data-title="Stock">
                                                                <span class="text-danger font-weight-bold">Out of
                                                                    Stock</span>
                                                            </td>
                                                            <% } %>

                                                                <% if (element.cartStatus) { %>
                                                                    <td class="text-center" data-title="Cart">
                                                                        <a class="btn btn-sm" href="/cart">View in
                                                                            cart</a>
                                                                    </td>
                                                                    <% } else { %>
                                                                        <td class="text-center" data-title="Cart">
                                                                            <a class="btn btn-sm"
                                                                                href="/userHome/productView/<%=element.product._id %>">Add
                                                                                to cart</a>
                                                                        </td>
                                                                        <% } %>

                                                                            <td class="action" data-title="Remove"><a
                                                                                    onclick="removeFromWishlist('<%=element.product._id%>')"><i
                                                                                        class="fi-rs-trash"></i></a>
                                                                            </td>
                                                </tr>
                                                <% }) %>


                                        </tbody>
                                    </table>
                                    <% } %>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script>
        const removeFromWishlist = (productId) => {
            $.ajax({
                url: "/removeFromWishlist",
                method: "PUT",
                data: {
                    productId: productId,
                },
                success: (response) => {
                    if (response.status) {
                        console.log(response.status)
                        location.reload()
                    }

                }
            })

        }

    </script>

    <%- include("../layouts/userLayout/userHomeFooter") %>