<%- include("../layouts/userLayout/userHomeHeader") %>

  <main class="main">
    <div class="page-header breadcrumb-wrap">
      <div class="container">
        <div class="breadcrumb">
          <a href="/userHome" rel="nofollow">Home</a>
          <span></span> Shop
          <span></span> Your Cart
        </div>
      </div>
    </div>
    <section class="mt-50 mb-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="table-responsive container">
              <table class="table shopping-summery text-center clean" id="cartTable">
                <thead>
                  <tr class="main-heading">
                    <th scope="col" class="text-center">Image</th>
                    <th scope="col" class="text-center">Name</th>
                    <th scope="col" class="text-center">Price</th>
                    <th scope="col" class="text-center">Quantity</th>
                    <th scope="col" class="text-center">Subtotal</th>
                    <th scope="col" class="text-center">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <% for( let i=0; i < cartItems.length; i++ ) { %>
                    <tr>
                      <td class="image product-thumbnail"><img src="<%= cartItems[i].product.image[0] %>" alt="#">
                      </td>
                      <td class="product-des product-name">
                        <h5 class="product-name"><a href="shop-product-right.html" style="color: black;">
                            <%= cartItems[i].product.productName %>
                          </a></h5>
                        <p class="font-xs">
                          <%= cartItems[i].product.productDescription %>
                        </p>
                      </td>
                      <td class="price" data-title="Price" id="price-span<%= cartItems[i].product._id %>"><span>
                          <%= cartItems[i].product.productPrice %>
                        </span></td>
                      <td class="text-center" data-title="Stock">
                        <div class="detail-qty border radius  m-auto">
                          <a href="#" class="qty-down"
                            onclick="incOrDecQuantity('<%=cartItems[i].product._id%>','-1')"><i
                              class="fi-rs-angle-small-down"></i></a>
                          <span class="qty-val" id="qty-val<%= cartItems[i].product._id %>">
                            <%= cartItems[i].quantity %>
                          </span>
                          <a href="#" class="qty-up" onclick="incOrDecQuantity('<%=cartItems[i].product._id%>','1')"><i
                              class="fi-rs-angle-small-up"></i></a>
                        </div>
                      </td>
                      <td class="text-right" id="text-right<%= cartItems[i].product._id %>" data-title="Cart">
                        <span>
                          <%=totalAmountOfEachProduct[i]%>
                        </span>
                      </td>
                      <td class="action" data-title="Remove"><a
                          onclick="removeItemFromCart('<%=cartItems[i].product._id%>','<%=i+1%>')" class="text-muted"><i
                            class="fi-rs-trash"></i></a></td>
                    </tr>
                    <% } %>



                </tbody>
              </table>
            </div>
            <div class="cart-action text-end" style="margin-top: 40px;">
              <!-- <a class="btn  mr-10 mb-sm-15" style="background-color: black;"><i class="fi-rs-shuffle mr-10"></i>Update
                Cart</a> -->
              <a class="btn " style="background-color: black;" href="/userHome"><i
                  class="fi-rs-shopping-bag mr-10"></i>Continue
                Shopping</a>
            </div>
            <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
            <div class="row mb-50">
              <div class="col-lg-6 col-md-12">
                <!-- <div class="mb-30 mt-50">
                  <div class="heading_s1 mb-3">
                    <h4>Apply Coupon</h4>
                  </div>
                  <div class="total-amount">
                    <div class="left">
                      <div class="coupon">
                        <form action="#" target="_blank">
                          <div class="form-row row justify-content-center">
                            <div class="form-group col-lg-6">
                              <input class="font-medium" name="Coupon" placeholder="Enter Your Coupon">
                            </div>
                            <div class="form-group col-lg-6">
                              <button class="btn  btn-sm" style="background-color: black;"><i
                                  class="fi-rs-label mr-10"></i>Apply</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="border p-md-4 p-30 border-radius cart-totals">
                  <div class="heading_s1 mb-3">
                    <h4>Cart Totals</h4>
                  </div>
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td class="cart_total_label">Cart Subtotal</td>
                          <td class="cart_total_amount"><span class="font-lg fw-900 text-dark"
                              style="color: black;" ><%= totalAmount %></span></td>
                        </tr>
                        <tr>
                          <td class="cart_total_label">Shipping</td>
                          <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free
                            Shipping</td>
                        </tr>
                        <tr>
                          <td class="cart_total_label">Total</td>
                          <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-dark"
                                style="color: black;" ><%= totalAmount %></span></strong>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <a href="#" class="btn" style="background-color: black;"> <i class="fi-rs-box-alt mr-10"></i> Proceed
                    To
                    CheckOut</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>




  <script>
    const incOrDecQuantity = (productId, quantity) => {
      $.ajax({
        url: `/updateCartQuantity?productId=${productId}&quantity=${quantity}`,
        method: "PATCH",
        success: (response) => {
          if (response.status) {
            window.location.reload();
          } else {
            console.log("Error");
          }

        }
      })
    }

  </script>

  <script>
    const removeItemFromCart = (productId, index) => {
      $.ajax({
        url: "/removeCart/" + productId,
        method: "DELETE",
        success: (response) => {
          if (response.status) {
            Toastify({
              text: `Product removed from cart`,
              duration: 3000,
              gravity: "top",
              position: "center",
              stopOnFocus: true, 
              style: {
                background: "red",
              },
            }).showToast();


            let table = document.getElementById("cartTable");
            table.deleteRow(index);
            // window.location.reload();
          } else {
            location.reload();
          }

        },
      })
    }
  </script>



  <%- include("../layouts/userLayout/userHomeFooter") %>